[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
flake8 = "*"
python-language-server = "*"
yapf = "*"
pipdeptree = "*"
pylint = "<2.0.0"

[packages]
mechanicalsoup = ">=0.12"
python-dateutil = "*"

[requires]
python_version = "2.7"

[packages.aib2ofx]
editable = true
path = "."
